.embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    max-width: fit-content;
    justify-content: center;
    display: flex;
    transition: ease-in;
    transition-duration: 200ms;
    transition-property: filter;
  }
  